@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CuriosityRounded";
  src: url("/fonts/CuriosityRounded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Curiosity";
  src: url("/fonts/Curiosity-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CuriosityLight";
  src: url("/fonts/Curiosity-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CuriosityExtraLight";
  src: url("/fonts/Curiosity-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "CuriosityExtraBold";
  src: url("/fonts/Curiosity-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "CuriosityBold";
  src: url("/fonts/Curiosity-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CuriosityBlack";
  src: url("/fonts/Curiosity-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #f1f0f1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
